@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'normalize.css';
body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);

}

:root {
    --primary: #ee4d2d;
    --primary-bg: #fef6f5;
    --primary-gradient: linear-gradient(#ee4d2d, #ff7337);
    --secondary-blue: #0046ab;
    --secondary-yellow: #eda500;
    --secondary-green: #26aa99;
    --error: #ee2c4a;
    --error-bg: #fff4f4;
    --caution: #f69113;
    --caution-bg: #fff8e4;
    --success: #30b566;
    --success-bg: #f7fffe;
    --text-primary: rgba(0, 0, 0, .87);
    --text-primary-o: #212121;
    --text-secondary: rgba(0, 0, 0, .65);
    --text-secondary-o: #595959;
    --text-tertiary: rgba(0, 0, 0, .54);
    --text-tertiary-o: #757575;
    --text-link: #0088ff;
    --util-mask: rgba(0, 0, 0, .4);
    --util-disabled: rgba(0, 0, 0, .26);
    --util-disabled-o: #bdbdbd;
    --util-line: rgba(0, 0, 0, .09);
    --util-line-o: #e8e8e8;
    --util-bg: #f5f5f5;
    --util-placeholder: #fafafa;
    --util-pressed: rgba(0, 0, 0, .05);
    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
    background: none;
}
label {
    display: block;
}
ul {
    list-style: none;
    display: flex;
}
a[href] {
    text-decoration: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.containerv2 {
    width: 1040px;
    height: 600px;
    margin: 0 auto;
}
.margin-auto {
    margin: 0 auto;
}
.btn--m {
    height: 40px;
    max-width: 220px;
    min-width: 70px;
    padding: 0 20px;
}